<%= stylesheet_link_tag 'new_post_styles' %>

<div class="container">
	<div class="row">
    
    <div class="col-2 sidebar">
    <!-- サイドバー --> 
    </div>

    <div class="col-9"> 
    <!-- 入力フォーム --> 
      <div class="row">
        <div class="col p-forms">
          <h2 class = "title"> Edit</h2> 
          <br>
          <%= render 'form', post: @post, form_url: public_post_path, submit_text: ' 編集 ' %>
        </div>
      </div>
    </div>
  </div>
</div>