<%= stylesheet_link_tag 'index_feed_styles' %>

<div class="container">
	<div class="row">

    <div class="col-3 sidebar"> <!-- サイドバー -->  
    </div>

    <div class="col-9 main-content"> <!--メイン-->
    </div>
  </div>
</div>
