<%= stylesheet_link_tag 'index_feed_styles' %>

<div class="container">
	<div class="row">

    <div class="col-3 sidebar"> <!-- サイドバー -->  
      <div class="sidebar-item">
        <ul class="side-nav me-auto mb-2 mb-lg-0,">
          <li>
            <%= link_to root_path, class: 'side-nav-item' do %>
              TOP
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-9 main-content"> <!--メイン-->
    <br>
    <br>
    <br>
    aaaaa<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
  </div>
</div>
