<%= stylesheet_link_tag 'new_post_styles' %>

<div class="container">
	<div class="row">
    
    <div class="col-3 sidebar">
    <!-- サイドバー --> 
    </div>

    <div class="col-8 p-forms"> 
    <!-- 入力フォーム --> 
      <div class="row">
        <div class="col">
          <h2 class = "title"> New</h2> 
          <br>
          <%= render 'form', post: @post, form_url: public_posts_path, submit_text: ' 新規登録 ' %>
        </div>
      </div>
    </div>
  </div>
</div>