<%= stylesheet_link_tag 'application', 'home_top_styles.css' %>

<div class="bg-image">
<div class="bg-text">

  <div class="container">
    <div class="row top-page">
      <div class="col">
        
      </div>

      <div class="col">
        
      </div>

      </div>
    </div>
  </div>

</div>