* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #eae8e1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 横方向、縦方向、ぼかし量、色を指定 */
  z-index: 1000;
}

.btn-custom {
  color: #622d18;
}

footer {
  background-color: #eae8e1;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* 横方向、縦方向、ぼかし量、色を指定 */
  z-index: 1000;
}