* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post-show{
  padding-left: 300px;
  margin-top: 20px;
}

.post-image {
  display: flex;
  justify-content: center;
}

.user-info {
  margin: auto;
}

.btn-area{
  display: flexbox;
  padding-left: 242px;
}