* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-show {
  padding-left: 300px;
  margin-top: 20px;
}

.user_image {
  display: flex;
  justify-content: center;
}

.user-info{
  margin-left: 50px;
}

.user-table-edit{
  text-align: right
}

.user-table{
  text-align: center;
}

.line {
  border-top: 2px 	dashed #622d18;
}