<div class="container">
	<div class="row views">
    <div class="col">

      <!-- ユーザー詳細 -->
      <div class="row a-user-info">
        <%= render 'public/users/userinfo', user: @user, allow_edit:@allow_edit %>
      </div>
    
      <div>
      </div>

    </div>
  </div>
</div>