<%= stylesheet_link_tag '' %>

<div class="container">
	<div class="row">
    
    <div class="col-2 sidebar">
    <!-- サイドバー --> 
    </div>

    <!-- 編集画面 -->
    <div class="col-9 u-edit-forms"> 
    </div>
    
  </div>
</div>