<%= stylesheet_link_tag '' %>

<div class="container">
	<div class="row">
    
    <div class="col-3 sidebar">
    <!-- サイドバー --> 
    </div>

    <div class="col-8 u-edit-forms"> 
    <!-- 編集画面 -->
      <>
    </div>
    
  </div>
</div>