<footer>
  <div class="container">
    <div class="row">
      <div class="mx-auto">
          <%= image_tag("icon/Title.png", alt: "Logo", width: 150, height: 40, class: "d-inline-block align-text-top mr-2") %>
      </div>
    </div>
  </div>
</footer>